<div class="panel panel-info">
  <div class="panel-heading">
    <h4>{{company.name}}</h4>
  </div>
  <div class="panel-body">
    <div class="list-group">
    {{#each company.students as |student|}}
      <div class="list-group-item">
        <ul class="detail">
          <span>Student: </span>
          {{student.name}}
        </ul>
        <ul class="detail">
          <span>Contact: </span>
          {{student.contact}}
        </ul>
        <ul class="detail">
          <span>Coops: </span>
          {{#each student.mycoops as |coop|}}
            {{coop.companyName}}
          {{/each}}
        </ul>
      </div>
    {{/each}}
    </div>
  </div>
</div>