  <article class="listing">
    <div class="detail owner">
      <span>Owner:</span> {{company.name}}
    </div>
    <div class="detail type">
      <span>Type:</span> {{company.student}}
    </div>
  </article>