<article class="listing">
  <div class="detail owner">
    <span>Company:</span> {{company.name}}
  </div>
  <div class="detail type">
      {{#each company.students as |student|}}
        <li>
          <span>Student: {{student.name}}, contact: {{student.contact}}</span>
          {{#each student.mycoops as |coop|}}
            <span>coop: {{coop.companyName}}</span>
          {{/each}}
        </li>
      {{/each}}
  </div>
</article>
