<nav class="navbar navbar-inverse">
  <div class="container-fluid nav-contents">
    <ul class="nav navbar-nav">
      {{#link-to "index" class="nav-text"}}
        Home
      {{/link-to}}

      <a>Profile</a>
    </ul>
  </div><!-- /.container-fluid -->
</nav>

<div class="body">
  {{outlet}}
</div>
