<div class="container">
  <h2>Welcome!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
</div>

{{#list-filter filter=(action 'filterByCompany') as |filteredResults|}}
  <ul class='results'>
    {{#each filteredResults as |companyObject|}}
      <li>{{company-listing company=companyObject}}</li>
    {{/each}}  
  </ul>
{{/list-filter}}
{{outlet}}
